# Mongo connection
MONGO_URI=mongodb://mongodb:27017
MONGO_DB=restore_db

# Optional basic auth for mongo-express
ME_USER=admin
ME_PASSWORD=admin

# API server (usually keep defaults)
SERVER_HOST=0.0.0.0
SERVER_PORT=8000
